body{
  background: linear-gradient(to right, #00AAEF, #00FF6C);
}

.central-box{
  position: absolute;
  width:280px;
  height:200px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

p {
  font-size: 12px;
}

button {
  border-radius: 20px;
  border: 1px solid green;
  background-color: blue;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

=============================================================================

.scene {
  width: 300px;
  height: 200px;
  border: 1px solid #CCC;
  margin: 80px;
  perspective: 400px;
}

.box {
  width: 300px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
}

.box.show-front  { transform: translateZ( -50px) rotateY(   0deg); }
.box.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }


.box__face {
  position: absolute;
  border: 2px solid black;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.box__face--front {
  width: 300px;
  height: 150px;
  line-height: 25px;
}

.box__face--bottom {
  width: 300px;
  height: 100px;
  top: 0px;
  line-height: 25px;
}

.box__face--front  { 
  background: rgba(0,0,0,0.7);
  box-shadow: 0 15px 25px rgba(0,0,0,0.5); 
}

.box__face--bottom { 
  background: rgba(0,0,0,0.7);
  box-shadow: 0 15px 25px rgba(0,0,0,0.5); 
}

.box__face--front  { transform: rotateY(  0deg) translateZ( 50px); }
.box__face--bottom { transform: rotateX(-90deg) translateZ(100px); }